*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.acceuil{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.content{
    text-align: center;
    margin-top: 20px;
    padding-top: 170px;
}
.content a{
    font-size: 130px;
    font-weight: 600;
    -webkit-text-stroke: 3px #fff;
    color: transparent;
    border: none;
    transition: 1s ease;
    text-decoration: none;
}
.content a:hover{
  font-size:140px ;
  color : #fff;
  text-decoration: none;

}
.content h2{
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    padding-top: 50px;
    
  }
  
  .typing-demo {
    width: 40ch;
    animation: typing 2s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
  }
  span{
    font-size: 70px;
    font-weight: 600;
    -webkit-text-stroke: 3px #fff;
    color: transparent;

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }





