*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.3vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px  black;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;/*TRES INTERRESSANT POUR QUE LE NAV BAR RESTE TJRS EN DESSUS QUAND ON SLIDE UP OR DOWN*/
}
nav img{
    width: 130px;
    cursor: pointer;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500 ;
    transition: 0.3s ease;
    font-family: 'poppins', sans-serif ;
}
nav .navigation ul li select{
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 500 ;
    cursor: pointer;
}
nav .navigation ul li a:hover{
    color: rgb(164, 7, 7);
}
nav .navigation ul li a.active{
    color: rgb(164, 7, 7);
}



.section2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
} 

.section2 .gallery-categories {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.section2 .category-container {
    border: 1px solid #333; 
    background-color: #fff; 
    padding: 10px; 
    display: flex; 
    border-radius: 5px; 
    margin-top: 100px;
} 

.section2 .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px; 
    padding: 20px;

}
.section2 .icon-container {
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.section2 .icon-container:hover i {
    color: rgb(131, 23, 23);
}
.section2 .icon-container.clicked i {
    color: rgb(164, 7, 7);
}


.section2 .category h4 {
    padding-top: 8px;
    font-size: 12px;
}

.section2 .category-selected .icon-container {
    color: rgb(164, 7, 7);
}

.section2 .icon-container i {
    transition: color 0.3s ease;
}

/*.section2 .category:hover .icon-container{
    background-color:rgb(223, 101, 101);
}


.section2 .category h2 {
    padding-top: 8px;
    font-size: 12px;
}

.section2 .categorie-selected {
    background-color: rgb(164, 7, 7); 
}*/



.section2 {
    margin: 0;
    font-family: Arial, sans-serif;
}

.section2 .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh;
    background-color: #f0f0f0;
}

.section2 .gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(25vh, 1fr)); /* Increased minmax value */
    gap: 30px; /* Increased gap between images */
    max-width: 3000px; /* Increased max-width */
    margin: 0 auto;
    height: 100vh;
}

.section2 .gallery-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; /* Increased margin-bottom */
}

.section2 #searchInput {
    padding: 12px; /* Increased padding */
    border: 2px solid #ccc; /* Increased border width */
    border-radius: 50px; /* Increased border-radius */
     margin-right: 145vh ; /*Increased margin-right (139vh) */
}

.section2 #addImageButton {
    padding: 12px 18px; /* Increased padding */
    background-color: rgb(164, 7, 7);
    color: white;
    border: none;
    border-radius: 8px; /* Increased border-radius */
    cursor: pointer;
}
.section2 #addImageButton:hover {
    background-color: rgb(133, 5, 5); 
}


.section2 .image-container {
    position: relative;
    overflow: hidden; /* Ensure child elements respect container boundaries */
}


.section2 .gallery img {
    width: 40vh; /* Increased width */
    height: 24vh; /* Increased height */
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.section2 .image-container:hover img {
    transform: scale(1.1);
}

.section2 .image-container:hover .image-details,
.section2 .image-container:hover .open-button {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.section2 .image-details {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px; /* Increased padding */
    opacity: 0;
    box-sizing: border-box;
}
.section2 .openbutton {
 
    cursor: pointer;
   
}
.section2 .open-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px; /* Adjusted padding */
    background-color: rgb(164, 7, 7);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0 8px 0 8px; /* Increased border-radius */
    opacity: 0;
    transition: background-color 0.7s ease;
}
.section2 .open-button:hover {
    background-color: rgb(133, 5, 5); /* Darker blue color on hover */
}




.section2 .pagination {
    margin-top: 30px; /* Increased margin-top */
}

.section2 .pagination button {
    padding: 12px 18px; /* Increased padding */
    margin: 0 10px; /* Increased margin */
    cursor: pointer;
    background-color: rgb(164, 7, 7);
    color: white;
    border: none;
    border-radius: 8px; /* Increased border-radius */
}

.section2 .pagination button:hover {
    background-color: rgb(133, 5, 5); 
}


.section2 .pagination button.selected {
    background-color: rgb(97, 7, 7);
}
